@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    color: lightgray;
    overflow-y: auto;
    overflow-x: hidden;
    background: radial-gradient(circle at top, #222222, #121212);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.background {
    background: radial-gradient(circle at top, #222222, #121212);
}

.foreground {
    background: linear-gradient(to left, #222222, #353535);    
}

.foreground-2 {
    background: linear-gradient(to bottom, #222222, #353535);    
}